<div class="container text-justify">
  <h4 class="mt-3">Daftar mahasiswa</h4>
  <% mahasiswa.forEach(dataMHS => { %>
  <ul>
    <li>Nama : <%= dataMHS.nama %> <br />Email : <%= dataMHS.email %></li>
  </ul>

  <% }) %>
</div>
